body {
	/*background-color: lightblue;*/
}

h1 {
	text-align: center;
}

#container {
	margin: 0 auto;
	width: 70%;
	height: 900px;
	background-color: lightblue;
	border-color: blue;
}

#Honda {
	height: 300px;
	width: 400px;
	float: left;
	margin: 5px;
}	

img {
	max-width:100%;
	max-height:100%;	
}

#Subaru2dr {
	height: 300px;
	width: 400px;
	float: left;
	margin: 5px;
}

#Subaru4dr {
	height: 535px;
	width: 400px;
	float: left;
	margin: 5px;	
}

#BMW {
	height: 532px;
	float: left;
	margin: 5px;	
}

#position {
	clear: both;
}