html {
	background: url("beach.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

h1 {
	color: red;
}

header {
	color: red;
}

#container {
	width: 70%;
}

img {
	border-radius: 100px;
	width: 30%;
}

nav {
	border: 1px red solid;
	float: left;
}

li {
	font-size: 30px;
}