body {
	background-color: #b0c4de;
}

#container {
	width: 70%;
	border: thin solid blue;
	background-color: lightblue;
}

img {
	border-radius: 100px;
	width: 30%;
}

ul {
	border: 1px red solid;
	float: left;
}